<!--
  Generated template for the ThiefWarningPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ThiefWarning_Title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding>
      <button ion-item (click)="openItem(1)">
        <ion-avatar item-start>
          <img [src]="profilePic" class="warn_circle" style="width:15px; height:15px;"
               *ngIf="thiefFakeKey_display['hasSignal'] == 'true'"/>
        </ion-avatar>
        <h2>盗贼假钥匙开锁报警</h2>
        <p>{{thiefFakeKey_display.time}}</p>

      </button>

      <button ion-item (click)="openItem(2)">
        <ion-avatar item-start>
          <img [src]="profilePic" class="warn_circle" style="width:15px; height:15px;"
               *ngIf="thiefDemolitionLockCore_display['hasSignal'] == 'true'"/>
        </ion-avatar>
        <h2>盗贼拆锁芯报警</h2>
        <p>{{thiefDemolitionLockCore_display.time}}</p>

      </button>

      <button ion-item (click)="openItem(3)">
        <ion-avatar item-start>
          <img [src]="profilePic" class="warn_circle" style="width:15px; height:15px;"
               *ngIf="thiefPryDoor_display['hasSignal'] == 'true'"/>
        </ion-avatar>
        <h2>盗贼撬门报警</h2>
        <p>{{thiefPryDoor_display.time}}</p>

      </button>

    </ion-item-sliding>
  </ion-list>

  <div padding>
    <button ion-button block (click)="queryThiefWarningHistory()">{{ 'Query_ThiefWarning_History' | translate }}
    </button>
  </div>
</ion-content>
