<ion-header>

  <ion-navbar>
    <ion-title>{{ 'MSG_TITLE' | translate }}</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding>
      <button ion-item (click)="openItem(1)">
        <ion-avatar item-start>
          <img [src]="profilePic" class="warn_circle" style="width:15px; height:15px;" *ngIf="msgItems[0]['hasSignal'] == 'true'" />
        </ion-avatar>
        <h2>{{msgItems[0].name}}</h2>
        <!-- <p>{{item.about}}</p> -->

      </button>

      <button ion-item (click)="openItem(2)">
        <ion-avatar item-start>
          <img [src]="profilePic" class="warn_circle" style="width:15px; height:15px;" *ngIf="msgItems[1]['hasSignal'] == 'true'" />
        </ion-avatar>
        <h2>{{msgItems[1].name}}</h2>
        <!-- <p>{{item.about}}</p> -->

      </button>

      <button ion-item (click)="openItem(3)">
        <ion-avatar item-start>
          <img [src]="profilePic" class="warn_circle" style="width:15px; height:15px;" *ngIf="msgItems[2]['hasSignal'] == 'true'" />
        </ion-avatar>
        <h2>{{msgItems[2].name}}</h2>
        <!-- <p>{{item.about}}</p> -->

      </button>

    </ion-item-sliding>
  </ion-list>
</ion-content>
