<!--
  Generated template for the NetworkConnectionDetectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'NetworkConnectionDetection_Title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding *ngIf="!isOverDetection">
    <label *ngIf="isStartDetection">{{curRate}}%</label>
    <br>
    <button *ngIf="!isStartDetection" ion-button block (click)="startDetection()">开始网络检测</button>

    <canvas *ngIf="isStartDetection" #myProgressBar class="canvas" style="width:0%">
    </canvas>

    <br>
    <button *ngIf="isStartDetection" ion-button block class="cancel" (click)="closeDetection()">{{ 'CANCEL_BUTTON' | translate }}</button>
  </div>

  <div padding *ngIf="isOverDetection">
    <label>网络检测信号成功率{{curRate}}%</label>
    <br>
    <button ion-button block (click)="startDetection()">重新检测</button>
  </div>
</ion-content>